.squares {
	display: grid;
	gap: 1ch;
	margin: 1em;
	justify-content: center;
	align-content: center;
}

.player-msg.left-player {
	text-align: left;
}

.player-msg.right-player {
	text-align: right;
}

.square {
	width: 4ch;
	aspect-ratio: 1;
	
	padding: 0;
	font-size: xx-large;
	text-align: center;
}

.square.winning {
	background-color: #004b00;
}

.error {
	color: tomato;
}


@media (prefers-color-scheme: light) {
	.square.winning {
		background-color: #cfffcf;
	}
	
	.error {
		color: darkred;
	}
}


form {
	margin: 1em;
}

.field {
	margin: 0.5em;
}

label {
	margin-right: 1ch;
}

input[type="number"] {
	max-width: 5ch;
}


/* Default styling from the template */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}