.squares {
	display: grid;
	/* Hard coded 3 columns */
	grid-template-columns: repeat(3, auto);
	gap: 2ch;
	margin: 1em;
}

.player-msg.left-player {
	text-align: left;
}

.player-msg.right-player {
	text-align: right;
}

.square {
	width: 5ch;
	aspect-ratio: 1;
	
	padding: 0;
	font-size: xx-large;
	text-align: center;
}

.error {
	color: darkred;
}


/* Default styling from the template */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}