.squares {
	display: grid;
	gap: 2ch;
	margin: 1em;
}

.player-msg.left-player {
	text-align: left;
}

.player-msg.right-player {
	text-align: right;
}

.square {
	width: 5ch;
	aspect-ratio: 1;
	
	padding: 0;
	font-size: xx-large;
	text-align: center;
}

.square.winning {
	background-color: #004b00;
}

.error {
	color: tomato;
}


/* Default styling from the template */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@media (prefers-color-scheme: light) {
	.square.winning {
		background-color: #cfffcf;
	}
	
	.error {
		color: darkred;
	}
}